<!-- ---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <section>
    <h2>Blog</h2>
    <p>Thoughts about tech, programming, and leadership along with some stories of my adventures in software engineering.</p>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style> -->
