---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <h2>Blog</h2>

  <section>
    <p>Coming Soon!</p>
    <p>
      After converting the site to Astro, I plan on blogging directly on this
      site. For now, you can still access my blog on Hashnode.
    </p>
  </section>

  <section class="text-center">
    <a href="https://blog.trippshelnutt.com" target="_blank"
      ><i class="fa-solid fa-blog"></i>Blog on Hashnode</a
    >
    <a href="https://blog.trippshelnutt.com/rss.xml" target="_blank"
      ><i class="fa-solid fa-rss"></i>RSS Feed</a
    >
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style>
