---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer.astro";
---

<Layout title="Blog">
  <section>
    <h2>Blog</h2>
    <p>Thoughts about tech, programming, and leadership along with some stories of my adventures in software engineering.</p>
    <CardContainer />
  </section>

  <section class="text-center">
    <!-- <a href="https://blog.trippshelnutt.com" target="_blank">
      <i class="fa-solid fa-blog"></i>Blog on Hashnode
    </a> -->
    <span>
      <a>
        <i class="fa-solid fa-rss"></i>RSS Feed
      </a>(TODO)
    </span>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style>
