---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section>
    <h2>Hi!</h2>
    <p>
      👋 I'm Tripp, a Software Engineer with 20+ years of experience programming in
      various languages, environments, and industries. Most of my experience is
      working on .NET projects using C# and JavaScript. Some modern, some
      legacy. Some large, some small.
    </p>
    <p>
      I am a polyglot programmer and love learning new languages, tools, and
      paradigms. I've recently been learning more about other programming
      languages on the website <a href="https://exercism.org">Exercism</a>,
      which has many language tracks and programming exercises.
    </p>
    <p>Thanks for visiting and check out some of my other sites!</p>
    <p>
      <a href="https://blog.trippshelnutt.com">
        <i class="fa-brands fa-hashnode"></i>Tripp Shelnutt's Blog
      </a>
      - Thoughts about tech, programming, and leadership along with some stories of my adventures in software engineering.
    </p>
    <p>
      <a href="https://projects.trippshelnutt.com">
        <i class="fa-brands fa-hashnode"></i>Tripp Shelnutt's Projects
      </a>
      - An overview of some projects that I've worked on over the years.
    </p>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style>
