<!-- ---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <section>
    <h2>Projects</h2>
    <p>An overview of some projects that I've worked on over the years.</p>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style> -->
