---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <section>
    <h2>Projects</h2>
    <p>Thoughts about tech, programming, and leadership along with some stories of my adventures in software engineering.</p>
    <p>
      <a href="https://projects.trippshelnutt.com">
        <i class="fa-brands fa-hashnode"></i>Tripp Shelnutt's Projects
      </a>
    </p>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style>
