---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h2>Resume</h2>

  <section>
    <p>Click the link below to download a PDF copy of my resume.</p>
  </section>

  <section class="text-center">
    <a href="/resume/resume-trippshelnutt.pdf" target="_blank">
      <i class="fa-solid fa-file-pdf"></i>Download PDF
    </a>
  </section>
</Layout>

<style>
  i {
    @apply pr-4 text-amber-400 scale-75;
  }
</style>
