---

---

<footer>
  <a href="https://www.linkedin.com/in/trippshelnutt/" class="linkedin">
    <span class="fa-stack fa-lg">
      <i class="fa-solid fa-circle fa-stack-2x"></i>
      <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://github.com/trippshelnutt" class="github">
    <span class="fa-stack fa-lg">
      <i class="fa-solid fa-circle fa-stack-2x"></i>
      <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</footer>

<style>
  footer {
    @apply flex-none h-36 flex flex-row justify-center items-center gap-2;
  }

  a {
    @apply no-underline hover:underline hover:scale-110;
  }

  a.linkedin {
    @apply text-[#0077B5];
  }

  a.github {
    @apply text-[#6e5494];
  }
</style>
