---

---

<footer>
  <a href="https://www.linkedin.com/in/trippshelnutt/" class="linkedin">
    <i class="fa-brands fa-linkedin fa-xl"></i>
  </a>
  <a href="https://blog.trippshelnutt.com" class="hashnode">
    <i class="fa-brands fa-hashnode fa-xl"></i>
  </a>
  <a href="https://github.com/trippshelnutt" class="github">
    <i class="fa-brands fa-github fa-xl"></i>
  </a>
  <a href="https://bsky.app/profile/trippshelnutt.com" class="bluesky">
    <i class="fa-brands fa-bluesky fa-xl"></i>
  </a>
</footer>

<style>
  footer {
    @apply flex-none h-36 flex flex-row justify-center items-center gap-8;
  }

  a {
    @apply no-underline hover:underline hover:scale-110;
  }

  a.linkedin {
    @apply text-[#ffffff];
  }

  a.github {
    @apply text-[#ffffff];
  }

  a.bluesky {
    @apply text-[#ffffff];
  }

  a.hashnode{
    @apply text-[#ffffff];
  }
</style>
