---
import MobileNavigation from "./mobileNavigation.astro";
---

<header>
  <img src="/images/bricks.jpg" />
  <h1>Tripp Shelnutt</h1>
  <MobileNavigation />
</header>

<style>
  header {
    @apply flex-none h-36 flex flex-row justify-center items-center gap-4;
  }

  img {
    @apply h-24 w-24 border-4 border-indigo-400 rounded-full;
  }

  h1 {
    @apply text-4xl lg:text-6xl text-indigo-400;
  }
</style>
