---

---

<nav>
  <a href="/">Home</a>
  <span>|</span>
  <a href="/blog">Blog</a>
  <span>|</span>
  <a href="/projects">Projects</a>
  <span>|</span>
  <a href="/resume">Resume</a>
  <span>|</span>
  <a href="/uses">Uses</a>
  <span>|</span>
  <a href="/about">About</a>
</nav>

<style>
  nav {
    @apply hidden sm:flex flex-none h-24 flex-row justify-center items-center gap-2;
  }

  span {
    @apply text-indigo-400;
  }

  a {
    @apply no-underline hover:underline hover:scale-110 -skew-y-2 text-fuchsia-300 hover:text-amber-400 font-bold;
  }
</style>
